$color-primary: #0070f3; // This is a local variable
.hero {
  display: flex;
  padding: 1rem;
  &__left_container {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 50%;
  }
}
.container {
  padding: 0 2rem;
  font-family: "Anek Malayalam";
}

.image {
  object-fit: cover;
  object-position: top;
  transform-origin: top;
  border-radius: 30px;
}
.socials {
  &__wrapper {
    display: inline;
  }
  &__icon {
    font-size: 30px;
  }
  svg {
    padding: 20px;
  }
}
